@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #8C539A;
  --primary-medium: #822499;
  --primary-light: #C2A6F1;
  --primary-dark: #361177;
}

body {
    background-color: #eee;
}